.top{
    width:120%;
    height: 15px;
    background-color: rgb(223, 223, 223);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    z-index: 999;
  }

  .topLeft, .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .topCenter {
    flex: 5;
  }
  
  .topIcon {
    font-size: 25px;
    margin-right: 20px;
    color: #444;
    cursor: pointer;
  }
  
  .topImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
  }

  .topList{
    display: flex;
    justify-content: center;
    margin: 115px;
    list-style: none;
  }
  
  .topListItem {
    margin-right: 25px;
    font-size: 12px;
    font-weight: 200;
    cursor: pointer;
  }