.singlePost{
    flex: 5;
  }
  
  .singlePostWrapper {
    padding: 30px;
    padding-right: 35;
  }
  
  .singlePostImg {
    width: 150%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }

  .singlePostTitle {
    text-align: center;
    margin: 15px;
    font-size: 38px;
    font-family: "Lora", sans-serif;
  }
  
  .singlePostEdit {
    float: right;
    font-size: 30px;
  }


  .singlePostIcon {
    margin-left: 20px;
    cursor: pointer;
  }
  
  .singlePostIcon:first-child {
    color: teal;
  }
  .singlePostIcon:last-child {
    color: tomato;
  }