.singlePost{
    flex: 5;
  }
  
  .singlePostWrapper {
    padding: 30px;
    padding-right: 10;
  }
  
  .singlePostImg {
    width: 150%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
  }