.singlePost{
    flex: 5;
  }
  
  .singlePostWrapper {
    padding: 30px;
    padding-right: 35;
  }
  
  .singlePostImg {
    width: 150%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
  }

  .singlePostTitle {
    text-align: center;
    margin: 15px;
    font-size: 38px;
    font-family: "Lora", sans-serif;
  }
  
  .singlePostEdit {
    float: right;
    font-size: 30px;
  }


  .singlePostIcon {
    margin-left: 20px;
    cursor: pointer;
  }
  
  .singlePostIcon:first-child {
    color: teal;
  }
  .singlePostIcon:last-child {
    color: tomato;
  }

  .singlePostInfo {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #72521d;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
  }
  
  
  .singlePostAuthor{
    margin-left: 10px;
  }

  .singlePostDesc {
    color: #666;
    font-size: 30px;
    line-height: 20px;
  }
  
  .singlePostDesc::first-letter {
    margin-left: 10px;
    font-size: 40px;
    font-weight: 500;
  }