.sideBar {
    flex: 3;
    height: fit-content;
    margin: 30px;
    padding-bottom: 35px;
    background-color: #fdfbfb;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebarTitle {
    margin: 25px;
    padding: 5px;
    width: 50%;
    border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #222222;
    font-weight: 400;
  }

  .sidebarItem > img {
    margin-top: 30px;
    width: 250px;
    height: 350px;
  }
  
  .sidebarItem > p {
    padding: 20px;
  }
  
  .sidebarList {
    list-style-type: none;
    margin-bottom: 20px;
  }